<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <h1><%= link_to "blocmarks" , root_path%> <small>blocmark it...and forget it!</small></h1>
    <ul class="nav navbar-nav"> 
      <li class="<%= is_active?(welcome_about_path) %>">
        <%= link_to "About", welcome_about_path %>      
      </li>
      <li class="dropdown <%= 'active' if params.has_key?(:topic) %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Topics <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "All Topics", bookmarks_path %></li>
          <li class="divider"></li>
          <% topics.each do |t| %>
            <li><%= link_to t.topic, bookmarks_path(topic: t) %></li>
          <% end %>
        </ul>
      </li>
      <li class="<%= is_active?(bookmarks_path(id: current_user)) %>">
      <%= link_to "My Bookmarks", bookmarks_path(id: current_user) %>
      </li>
    </ul>
    <p class="navbar-text navbar-right">
      <% if current_user %>
        Logged In as <%= link_to current_user.name, bookmarks_path(id: current_user), class: "navbar-link" %>.
        <%= link_to "Log Out", logout_path, class: "navbar-link" %>
      <% else  %>
        <%= link_to "Log In", new_session_path, class: "navbar-link" %> or 
        <%= link_to "Sign Up", new_user_path, class: "navbar-link" %>
      <% end %>
    </p>
  </div>
</nav>   

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
