<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><%= link_to "blocmarks" , root_path %> <small>blocmark it...and forget it!</small></h1>
        </div>
        <div class="col-md-6">
          <div class="pull-right user-info">
            <% if current_user %>
              Logged In as <%= current_user.name %>.
              <%= link_to "Log Out", logout_path %>
            <% else  %>
              <%= link_to "Sign Up", new_user_path %> or
              <%= link_to "Log In", new_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

  <%= yield %>
  </div>
</body>
</html>
